NODE_ENV=development
PORT=3000
CORS_ORIGIN=*

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=coac_heroes
DATABASE_USER=coac_heroes
DATABASE_PASSWORD=coac_heroes
DATABASE_SYNCHRONIZE=false
DATABASE_MIGRATIONS_RUN=false
